<p style="text-align: center;">
  Carousel 1
</p>

<p>
  The <code>&lt;ons-carousel&gt;</code> element has a very specific use case.
  All of what can be done with that element can be easily handled by Ember and
  <a href="http://ember-animation.github.io/liquid-fire/">liquid-fire</a>.
  Doing so also offerers more flexibility and integrates with the Ember
  ecosystem better.
</p>

<p style="text-align: center;">
  {{#ons-button click=(action update 1)}}
    Go to next carousel slide for more
  {{/ons-button}}
</p>
