.content {
  padding-left: 20px;
  padding-right: 20px;
}

.full-width {
  width: 100%;
}

.event-box {
  background: #eee;
  width: 300px;
  height: 400px;
  text-align: center;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 8px;
}

.event-pill {
  display: inline-block;
  min-width: 70px;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.refresh-hash.liquid-container {
  display: inline-block;
  vertical-align: top;
}

.refresh-hash .liquid-child {
  display: inline-block;
}

.feature-list .implementation-icon {
  padding-right: 60px;
}

.feature-list .implementation-icon.has-chevron {
  padding-right: 40px;
}

.link-color {
  color: #33f;
}

.item-implemented, .item-alternate {
  color: green;
}

.item-not-implemented {
  color: red;
}
