<ons-page>
  <ons-toolbar>
    <div class="center">Onsen UI in Ember</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>  
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <p style="text-align: center">
    <ons-button onclick={{action "alertMe"}}>Click me!</ons-button>
  </p>
</ons-page>
