{{#ons-page}}
  {{#ons-toolbar}}
    <div class="center">
      {{demoTitle}}
    </div>

    <div class="right">
      {{#ons-toolbar-button click=(action (mut menu.collapsed) false)}}
        {{ons-icon icon="md-menu"}}
      {{/ons-toolbar-button}}
    </div>
  {{/ons-toolbar}}

  <p style="text-align: center">
    {{#ons-button click=(action "alertMe")}}
      Click me!
    {{/ons-button}}
  </p>
{{/ons-page}}
