{{#ons-page}}
  {{#ons-toolbar}}
    <div class="center">
      Floating action button
    </div>

    <div class="right">
      {{#ons-toolbar-button events=(hash click=(action (mut menu.collapsed) false))}}
        {{ons-icon icon="md-menu"}}
      {{/ons-toolbar-button}}
    </div>
  {{/ons-toolbar}}

  <p style="text-align: center;">
    {{#if fabIsVisible}}
      {{#ons-button events=(hash click=(action (mut fabIsVisible) false))}}
        Hide the fab button
      {{/ons-button}}
    {{else}}
      {{#ons-button events=(hash click=(action (mut fabIsVisible) true))}}
        Show the fab button
      {{/ons-button}}
    {{/if}}
  </p>

  {{#ons-fab
      position="bottom right"
      visible=fabIsVisible
      events=(hash click=(action "showSuccessDialog"))}}
    {{ons-icon icon="md-plus"}}
  {{/ons-fab}}
{{/ons-page}}
