{{#ons-page}}
  {{#ons-toolbar}}
    <div class="left">
      {{#ons-toolbar-button click=(action (mut menu.collapsed) false)}}
        {{ons-icon icon="md-menu"}}
      {{/ons-toolbar-button}}
    </div>

    <div class="center">
      Ember bindings for Onsen UI
    </div>
  {{/ons-toolbar}}

  <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
    Swipe right to open the menu!
  </p>
{{/ons-page}}
